:root {
  --primary-color: #b53209;
  --body-txt: #180b04;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #eaf2e4;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.logo {
  color: var(--body-txt);
  font-weight: bold;
  font-size: 1.3em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaf2e4;
  padding: 1em;
}

.menu {
  cursor: pointer;
}

nav ul {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #eaf2e4;
  height: 100vh;
  padding-top: 5em;
  z-index: 1;
}

nav ul li a {
  color: var(--body-txt);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.9em;
  display: block;
}

ul.nav .res a {
  color: var(--primary-color);
}

.exit a {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

h1 {
  font-size: 2.2em;
}

.forest-hero {
  background: url("images/forest.jpg");
  background-size: cover;
  color: white;
}

.wrapper {
  padding: 0.5em;
  text-align: center;
}

.no-padding {
  padding: 0;
}

.subtitle {
  padding: 1em 0 0;
  color: #eaf2e4;
}

h1 span {
  display: block;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.cta {
  display: inline-block;
  padding: 1.5em 2.5em;
  background: var(--primary-color);
  border-radius: 2em;
  font-weight: bold;
  color: white;
  font-size: 1em;
  margin-bottom: 3em;
  margin-top: 1em;
  transition: all 250ms ease-in-out;
}

.cta:hover {
  background: #832407;
  box-shadow: 8px 8px 16px rgba(24, 11, 4, 0.25);
}

ul.featured-cabins {
  width: 70%;
  margin: 0 auto;
}

ul.featured-cabins li {
  margin-bottom: 4em;
}

.cabin-img {
  box-shadow: 8px 8px 16px rgba(24, 11, 4, 0.25);
  border-radius: 1em;
}

.cabin-title {
  font-weight: bold;
  font-size: 1.3em;
}

.cabin-desc,
ul.features li p,
.left p {
  line-height: 1.6em;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.cabin-desc {
  color: #eaf2e4;
}

.cabin-cta {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cabin-cta:after {
  position: absolute;
  content: "";
  bottom: -12px;
  background: white;
  width: 100%;
  height: 0.8px;
}

.cabin-cta span {
  color: white;
  /* color: var(--primary-color); */
  font-weight: bold;
}

.cabin-cta img {
  width: 10px;
}

.feature-container {
  background: var(--body-txt);
  color: white;
}

ul.features {
  margin: 3em auto;
  width: 70%;
}

ul.features li img {
  width: 80px;
  border-radius: 1em;
background: #180b04;
box-shadow:  13px 13px 26px #100703,
             -13px -13px 26px #200f05;

}

ul.features li p {
  color: #cccccc;
}

.main-quote {
  font-family: "Playfair Display", serif;
  font-size: 2.2em;
  font-style: italic;
  margin-bottom: 0.5em;
}

cite {
  margin-bottom: 3em;
  display: block;
}

ul.testimonials {
  margin: 3em 0;
}

ul.testimonials li {
  margin-bottom: 3em;
}

.test-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

p.test-desc {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

p.test-auth {
  font-weight: bold;
  font-size: 0.85em;
}

.last-container {
  position: relative;
}

.fern {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 80%;
  opacity: 0.1;
}
/* ------------------------------------------------@media----------------- */
@media (min-width: 576px) {
  ul.featured-cabins {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2.5em;
  }
}

@media (min-width: 768px) {
  .menu,
  .exit {
    display: none;
  }

  ul.nav {
    visibility: unset;
    opacity: 1;
    background: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: unset;
    height: auto;
  }

  ul.nav li a {
    font-size: 1em;
    /* padding: 0 1em; */
    font-weight: normal;
  }

  ul.nav li:last-child a {
    margin-left: 2.5em;
    /* padding-right: 0; */
  }

  ul.nav .active a {
    font-weight: bold;
  }

  ul.nav .res a {
    color: var(--primary-color);
    border: 0.8px solid var(--primary-color);
    text-align: center;
    border-radius: 2em;
    transition: all 250ms ease-in-out;
  }

  ul.nav .res a:hover {
    color: white;
    border: 0.8px solid var(--primary-color);
    background: var(--primary-color);
    text-align: center;
    border-radius: 2em;
  }

  ul.features {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3em;
  }
}

@media (min-width: 992px) {
  header {
    padding: 1em 4em;
    /* margin: 0 4em; */
    /* opacity: 0.75;
    backdrop-filter: blur(100px); */
  }
  .wrapper {
    text-align: left;
  }

  .flex {
    display: flex;
  }

  .hero {
    padding: 8em 4em;
  }

  .last-container {
    padding: 0 4em;
  }

  .main-copy {
    width: 40%;
  }

  p.subtitle {
    margin: 0 0 1em;
    padding: 0;
  }

  h1 {
    font-size: 3em;
    margin-top: 0;
  }

  ul.featured-cabins {
    width: 70%;
  }
  ul.featured-cabins li {
    margin-bottom: 0;
  }

  .main-quote,
  .main-cite {
    text-align: center;
  }

  .main-quote {
    font-size: 3em;
    margin-top: 2em;
  }

  .main-cite {
    font-size: 1.5em;
    margin-bottom: 3em;
  }

  .bio {
    width: 90%;
  }

  ul.testimonials {
    margin-left: 2em;
    width: 100%;
  }

  ul.testimonials li {
    display: flex;
    background: white;
    padding: 1.5em;
    margin-bottom: 1em;
  }

  .test-img {
    margin-right: 1em;
  }

  .test-desc {
    margin-top: 0.5em;
    font-size: 1.1em;
    margin-bottom: 0;
  }

  .fern {
    width: 20%;
  }

  .cabin-desc,
  ul.features li p,
  .left p {
    font-size: 0.9em;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 1em 8em;
  }
  .hero {
    padding: 8em 8em;
  }
}
